.list {
    text-align: left;

    &--skills {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__item {
        font-family: 'avenir', sans-serif;
        color: $color--white;
        margin-top: 10px;
        text-align: left;
        padding: 10px;
        font-weight: bold;
    }
}
