.nav {
    display: block;
    width: 100%;
    float: left;
    padding: 16px 0;
    background: $color--black;


    &--footer {
        background: $color--grey;
        &__item {

            @media #{$breakpoint-medium} {
                a {
                    color: $color--white;
                }
            }

            &.active {
                a {
                    color: $color--white;
                }
            }
        }
    }

    @media #{$breakpoint-medium} {
        width: 50%;
        padding: 16px 0 0;
        background: none;
        display: inline;
    }

    &__item {
        display: block;
        text-align: center;
        padding: 5px 0;
        width: 100%;

        @media #{$breakpoint-medium} {
            width: auto;
            padding: 0;
            margin-right: 10px;
            display: inline-block;
        }

        a {
            color: $color--white;
            @media #{$breakpoint-medium} {
                color: $color--black;
            }
        }

        &.active {
            a {
                color: $color--orange;
            }
        }
    }
}
