$color--black: #000000;
$color--orange: #f39c12;
$color--yellow: #f1c40f;
$color--grey: #cccccc;
$color--white: #FFFFFF;
$color--blue: #3498db;
$color--blue-dark: #2980b9;
$color--turqoise: #1abc9c;
$color--green: #2ecc71;
$color--red: #e74c3c;
