.u {
    // A11y accessability helpers
    &-a11y--hidden { @extend %visuallyhidden; }

    // Alignment
    &-align--center { text-align: center; }
    &-align--left { text-align: left; }
    &-align--right { text-align: right; }

    &-pulls--left { float: left; }
    &-pulls--right { float: right; }

    // Background
    &-bg--cover {
        background-size: cover;
        background-repeat: no-repeat;
    }

    &-bg--contain {
        background-size: contain;
        background-repeat: no-repeat;
    }

    &--light {
        color: $color--grey;
        font-style: italic;
        font-size: 20px;
        font-weight: bold;
        max-width: 700px;
    }

    &--30 {
        font-weight: bold;
        width: 30%;
        @include contentAfter('30%');
    }
    &--40 {
        width: 40%;
        @include contentAfter('40%');
    }
    &--50 {
        width: 50%;
        @include contentAfter('50%');
    }
    &--60 {
        width: 60%;
        @include contentAfter('60%');
    }
    &--70 {
        width: 70%;
        @include contentAfter('70%');
    }
    &--80 {
        width: 80%;
        @include contentAfter('80%');
    }
    &--90 {
        width: 90%;
        @include contentAfter('90%');
    }
    &--100 {
        width: 100%;
        @include contentAfter('100%');
    }

    &--green {
        background: $color--green;
    }

    &--blue {
        background: $color--blue;
    }

    &--yellow {
        background: $color--yellow;
    }

    &--orange {
        background: $color--orange;
    }

    &--turqoise {
        background: $color--turqoise;
    }
}
